{% extends 'base.html' %}
{% block content %}
    <div class="container about-container">
        <div class="row">
            <div class="col-lg-10">
                <div class="well">
                    <article role="article">
                        <header>
                            <h1 class="entry-title text-primary">About Me</h1>
                        </header>
                        <h2 class="text-info">defshine,Software Engineer</h2>

                        <h3 class="text-danger">Stack</h3>
                        <blockquote>
                            <p class="text-info">Java,Spring,Hiberante,MyBatis<br>
                                Python,Flask<br>
                                MySql,MongoDB<br>
                                jQuery,AngularJS<br>
                                Linux,Git</p>
                        </blockquote>
                    </article>

                </div>
                <div class="well">
                    <h3></h3>
                    <h4></h4>

                    <p></p>
                    <header>
                        <h1 class="entry-title text-primary">My Book</h1>
                    </header>
                    <h2 class="text-primary">Flask Tutorial</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="https://selfstore.io/uploads/product/cover/248/thumb_cover.jpg">
                        </div>
                        <div class="col-lg-6">
                             <blockquote>
                                <p class="text-info">Build web app based on Flask and MongoEngine</p>
                            </blockquote>
                            <p class="text-info">Free online:<a href="http://defshine.github.io/awesome-flask-todo/">Flask Tutorial</a></p>
                            <p class="text-info">Buy pdf,mobi,epub ebook on <a href="https://selfstore.io/products/248">SelfStore</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-info">Copyright &copy; defshine 2015</p>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}