{% extends 'base.html' %}
{% block content %}
    <div class="container about-container">
        <div class="row">
            <div class="col-lg-10">
                <div class="well">
                    <h3>About me</h3>
                    <h4>defshine,Software engineer</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Category</td>
                            <td>Skill</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Backend</td>
                            <td>Java,Python</td>
                        </tr>
                        <tr>
                            <td>Java framework</td>
                            <td>Spring,myBatis,Hibernate</td>
                        </tr>
                        <tr>
                            <td>Python framework</td>
                            <td>Flask</td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>Oracle,MySQL,MongoDB</td>
                        </tr>
                        <tr>
                            <td>Web</td>
                            <td>jQuery,AngularJS,Html,Css,JavaScript</td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>Android</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>Intellij,Linux,Tomcat</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="well">
                    <h3>About project</h3>
                    <h4>flaskblog</h4>

                    <p>A simple and small blog system based on Flask framework</p>
                </div>
            </div>
        </div>

     <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; defshine 2014</p>
                </div>
            </div>
        </footer>

    </div>
{% endblock %}