{% extends 'admin.html' %}
{% block admin_content_left %}
    <div class="list-group">
        <a href="/admin" class="list-group-item">Home</a>
        <a href="/admin/new_post" class="list-group-item">New post</a>
        <a href="/admin/posts" class="list-group-item active">Posts</a>
        <a href="/admin/categories" class="list-group-item">Categories</a>
        <a href="/admin/comments" class="list-group-item">Comments</a>
    </div>
{% endblock %}

{% block admin_content_right %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Posts</div>
  <!-- Table -->
  <table class="table">
      <thead>
      <tr>
          <td>Title</td>
          <td>Operation</td>
      </tr>
      </thead>
      <tbody>
      {% for post in posts %}
          <tr>
          <td>{{ post.post_title }}</td>
          <td>
              <a href="#" class="btn bg-primary admin-edit-btn" data-key="{{ post.post_id }}">Edit</a>
              <a href="#" class="btn bg-primary admin-delete-btn"  data-key="{{ post.post_id }}">Delete</a>
          </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin_posts.js') }}"></script>

{% endblock %}