{% extends 'admin.html' %}

{% block admin_content_left %}
    <div class="list-group">
        <a href="/admin" class="list-group-item">Home</a>
        <a href="/admin/new_post" class="list-group-item  active">New post</a>
        <a href="/admin/posts" class="list-group-item">Posts</a>
        <a href="/admin/categories" class="list-group-item">Categories</a>
        <a href="/admin/comments" class="list-group-item">Comments</a>
    </div>
{% endblock %}

{% block admin_content_right %}
    <div class="row">
        <div class="col-lg-10">
            <div class="input-group">
                <div class="input-group-btn">

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown">
                        <span class="newpost-category-select-btn-value " data-key="0">Uncategorized</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu newpost-category-select-menu" role="menu" aria-labelledby="dropdownMenu1">
                    </ul>

                </div>

                <input type="text" class="form-control admin-new-post-title">
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-10">
           <div class="new-post-content-wrap">

                <textarea id="new-post-content" name="body" class="textarea" placeholder="Type your post"></textarea>
            </div>


            <div class="btn-group new-post-btn-group">
                <button type="button" class="btn btn-default new-post-cancel-btn">Cancel</button>
                <button type="button" class="btn btn-default new-post-save-btn">Save</button>
                <button type="button" class="btn btn-default new-post-publish-btn">Publish</button>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/simditor-all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.qeditor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin_newpost.js') }}"></script>

{% endblock %}