{% extends 'admin.html' %}

{% block admin_content_left %}
    <div class="list-group">
        <a href="/admin" class="list-group-item">Home</a>
        <a href="/admin/new_post" class="list-group-item  active">New post</a>
        <a href="/admin/posts" class="list-group-item">Posts</a>
        <a href="/admin/categories" class="list-group-item">Categories</a>
        <a href="/admin/comments" class="list-group-item">Comments</a>
    </div>
{% endblock %}

{% block admin_content_right %}
    <div class="row">
        <div class="col-lg-10">
            <div class="input-group">
                <div class="input-group-btn">

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>

                </div>

                <input type="text" class="form-control">
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-10">
           <div class="new-post-content-wrap">
                <textarea id ="new-post-content" >
                </textarea>
            </div>


            <div class="btn-group new-post-btn-group">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-default">Publish</button>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div><!-- /.row -->

{% endblock %}