{% extends 'admin.html' %}
{% block admin_content_left %}
    <div class="list-group">
        <a href="/admin" class="list-group-item">Home</a>
        <a href="/admin/new_post" class="list-group-item">New post</a>
        <a href="/admin/posts" class="list-group-item ">Posts</a>
        <a href="/admin/categories" class="list-group-item">Categories</a>
        <a href="/admin/comments" class="list-group-item active">Comments</a>
    </div>
{% endblock %}

{% block admin_content_right %}
     <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Comments</div>
  <!-- Table -->
  <table class="table">
      <thead>
      <tr>
          <td>Author</td>
          <td>Content</td>
          <td>Operation</td>
      </tr>
      </thead>
      <tbody>
      {% for c in comments %}
          <tr>
          <td>{{ c.comment_author }}</td>
          <td>{{ c.comment_content }}</td>
          <td>
              <a href="/admin/delete_comment/{{ c.comment_id }}" class="btn bg-primary">Delete</a>
          </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}