{% extends 'admin.html' %}
{% block admin_content_left %}
    <div class="list-group">
        <a href="/admin" class="list-group-item">Home</a>
        <a href="/admin/new_post" class="list-group-item">New post</a>
        <a href="/admin/posts" class="list-group-item">Posts</a>
        <a href="/admin/categories" class="list-group-item active">Categories</a>
        <a href="/admin/comments" class="list-group-item">Comments</a>
    </div>
{% endblock %}

{% block admin_content_right %}

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Categories</div>
  <!-- Table -->
  <table class="table">
      <thead>
      <tr>
          <td>Title</td>
          <td>Operation</td>
      </tr>
      </thead>
      <tbody>
      {% for c in categories %}
          <tr>
          <td>{{ c.cat_name }}</td>
          <td>
              <a href="/admin/edit_category/{{ c.cat_id }}" class="btn bg-primary">Edit</a>
              <a href="/admin/delete_category/{{ c.cat_id }}" class="btn bg-primary">Delete</a>
          </td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
 <a href="/admin/category" class="btn bg-primary">Add</a>
{% endblock %}