{% extends 'blog_base.html' %}
{% block blog_content %}
<div class="blog-list-container-left-blog">

    <h2 class="post-title text-primary" data-key="{{ post.post_id }}">
        <span class="text-info">[{{ post.category }}]</span>
        {{ post.post_title }}
    </h2>

    <div class="text-info">
        <span class="lead">by Admin</span>
        <span class="glyphicon glyphicon-time"></span> Posted on {{ post.post_date }}
    </div>
    <hr>
    <div>
        {% autoescape false %}
        {{ post.post_content }}
        {% endautoescape %}
    </div>
    <hr>
</div>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="da2a4695c4be0a6b69368bcca6b9c16d" data-title="{{ post.post_title }}" data-url=""></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"flaskblog"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->

{% endblock %}





